h1{ 
    color: #d40040;
    margin-left: 30px;
}

p{
   font-size: 25px; 

}

div.buttons {
    width: 200px; 
    height: 200px;
    border-style: solid;
    border-width: thick;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #d40040;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}

button:hover {
    background-color: #575757;
}

button:active {
    background-color: #9b002e;
    box-shadow: 0 5px #666;
    transform: translateY(4px)
}